@charset "UTF-8";
/* aqui será a estlização da pagina brigadeiro.html e laranja.html*/
h2 {
    padding: 20px;
}
div.list {
    display: flex;
    justify-content: center;
}
article ol {
    list-style-position: inside;
    text-indent: 10px;
}
aside {
    border: 1px solid green;
}
aside p {
    text-indent: 0.8em;
}
