@charset "UTF-8";
@media screen and (min-width:768px) and (max-width:1200px) {
    /* tamanho para tablets*/
    html,body{
        height: 610px;
    }
    header {
        width: 98vw;
    }
    main {
        width: 98vw;
    }
    ul#itens {
    display: inline;
   }
   menu li {
    display: inline;
   }
   span#hamburguer {
    display: none;
   }
   div.container {
    display: flex;
    justify-content: space-between;
   }
   aside {
    height: 116px;
   }
   aside h3 {
    margin: 10px;
    padding: 10px;
   }
   aside ul{
    list-style-type: "\1F4CC\00A0";
    columns: 3;
   }
}
@media screen and (min-width:1200px) and (max-width:1920px) {
    /* tamanho para notebooks*/
    html,body{
        height: 610px;
    }
    header {
        width: 98vw;
    }
    main {
        width: 98vw;
    }
    ul#itens {
    display: inline;
   }
   menu li {
    display: inline;
   }
   span#hamburguer {
    display: none;
   }
   div.container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   }
   div#ibrigadeiro {
    background-position: center bottom;
   }
   div#laranja {
    background-position: center top;
    margin-top: 0px;
   }
   aside {
    height: 200px;
    margin-top: 19%;
   }
   aside h3 {
    margin: 10px;
    padding: 10px;
    font-size: 2em
   }
   aside ul{
    columns: 3;
    font-size: 1.5em;
   }
}
@media screen and (min-width:1920px) {
  header {
        width: 98vw;
    }
    main {  
        width: 98vw;
    }
    ul#itens {
    display: inline;
   }
   menu li {
    display: inline;
   }
   span#hamburguer {
    display: none;
   }
   div.container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   }
   div#ibrigadeiro {
    background-position: center bottom;
   }
   div#laranja {
    background-position: center top;
    margin-top: 0px;
   }
   aside {
    height: 200px;
    margin-top: 19%;
   }
   aside h3 {
    margin: 10px;
    padding: 10px;
    font-size: 2em
   }
   aside ul{
    columns: 3;
    font-size: 1.5em;
} 
}
