@charset "UTF-8";
@media screen and (min-width:768px) and (max-width:1200px) {
    html,body{
        height: 610px;
    }
    header {
        width: 92%;
    }
    ul#itens {
    display: inline;
   }
   menu li {
    display: inline;
   }
   #ilogin {
    font-size: 2em;
    width: 5px;
   }
   span#hamburguer {
    display: none;
   }
   aside {
    height: 116px;
   }
   aside h3 {
    margin: 10px;
    padding: 10px;
   }
   aside ul{
    list-style-type: "\1F4CC\00A0";
    columns: 3;
   }
}
@media screen and (min-width:1200px) and (max-width:1920px) {
    html,body{
        height: 610px;
    }
    header {
        width: 92%;
    }
    ul#itens {
    display: inline;
   }
   menu li {
    display: inline;
   }
   span#hamburguer {
    display: none;
   }
   div#ibrigadeiro {
    left: 30%;
    width: 600px;
    background-position: left;
   }
   div#laranja {
    left: 30%;
    width: 600px;
    margin-top: 80px;
    background-position: top;
   }
   aside {
    height: 116px;
   }
   aside h3 {
    margin: 10px;
    padding: 10px;
   }
   aside ul{
    list-style-type: "\1F4CC\00A0";
    columns: 3;
   }
}