@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
:root {
    --cor1: #FF1500;
    --cor2: #B31F12;
    --cor3: #DEFF05;
    --cor4: #5401B8;
}
html, body {
    box-sizing: border-box;
    background-color: gray;
}
header {
    display: block;
    width: 96vw;
    margin: auto;
    background-color: var(--cor2);
}
header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
header p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
menu {
    text-align: center;
    background-color: var(--cor1);
}
menu ul{
    width: 10px;
    display: none;
}
menu li{
    list-style-type: none;
    padding: 5px;
}
menu a{
    color: white;
    text-decoration: none;
}
menu a:hover {
    color: gray;
}
span#hamburguer {
    display: block;
    color: white;
    text-align: justify;
}
span#hamburguer:hover {
    color: gray;
    cursor: pointer;
}
main {
    position: relative;
    background-color: white;
    width: 90vw;
    height: 800px;
    margin: auto;
}
article {
    position: relative;

}
.destaque {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 1em;
    padding-top: 10px;
    text-align: center;
}
article p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    text-align: center;
    text-decoration: underline;
    padding: 5px;
}
article a p {
    color: white;
}
div#ibrigadeiro {
    position: relative;
    background: url(../midia/brigadeiro.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 280px;
    height: 250px;
    right: 5px;
    bottom: -40px;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500); 
    border-radius: 5px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44,1);    
}
div#ibrigadeiro:hover {
    color: gray;
    transform: scale(1.2);
}
div#laranja {
    position: relative;
    width: 280px;
    height: 250px;
    margin-top: 70px;
    background: url(../midia/suco-laranja.jpg);
    background-size: cover;
    background-position: bottom;
    right: 5px;
    bottom: -50%;
    text-align: center;
    text-decoration: none;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);
    border-radius: 5px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) ;
}
div#laranja:hover {
    color: gray;
    transform: scale(1.2);
}
div#brigadeir0:after {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.500);
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scale(1.5);
    z-index: -1;
}
div#laranja:after {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.500);
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scale(1.5);
    z-index: -1;
}
aside {
    background-color: var(--cor3);
    display: block;
    margin-top: 20px;
    padding: 20px;
  
}
aside h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1em;
    padding: 5px;
}
aside ul {
    list-style-type: "\1F4CC\00A0";
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: darkgreen;
    margin-top: 10px;
}
footer p{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1em;
    padding: 5px;
    text-indent: 5px;
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    cursor: pointer;
    color: darkblue;
}