@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
:root {
    --cor1: #FF1500;
    --cor2: #B31F12;
    --cor3: #DEFF05;
    --cor4: #5401B8;
}
header {
    display: block;
    width: 96vw;
    margin: auto;
    background-color: var(--cor2);
}
header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
header p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
menu {
    text-align: center;
    background-color: var(--cor1);
}
menu ul{
    width: 10px;
    display: none;
}
menu li{
    list-style-type: none;
    padding: 5px;
}
menu a{
    color: white;
    text-decoration: none;
}
menu a:hover {
    color: gray;
}
span#hamburguer {
    display: block;
    color: white;
    text-align: justify;
}
span#hamburguer:hover {
    color: gray;
    cursor: pointer;
}
main {
    position: relative;
    background-color: white;
    width: 90vw;
    height: 100vh;
    margin: auto;
}
article {
    position: relative;

}
.destaque {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 1em;
    padding-top: 10px;
    text-align: center;
}
article p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    text-align: center;
    text-decoration: underline;
    padding: 5px;
}
article a p {
    color: white;
}
article a:hover p{
    color: gray;
    cursor: pointer;
}
div#ibrigadeiro {
    position: relative;
    display: block;
    background: url(../midia/brigadeiro.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 280px;
    height: 250px;
    border: 1px solid #fff;
    left: 20%;
    bottom: -40px;   
}
div#laranja {
    position: relative;
    width: 280px;
    height: 250px;
    margin-top: 50px;
    background: url(../midia/suco-laranja.jpg);
    background-size: cover;
    background-position: bottom;
    left: 20%;
    bottom: -50%;
}
aside {
    background-color: var(--cor3);
    display: block;
    margin-top: 30px;
    padding: 10px;
}
aside h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1em;
}
aside ol {
    list-style-position: inside;
    columns: 2;
}